<header>
	<% include ./partials/head %>
</header>
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="thumbnail">
					<img class="image-responsive" src="<%= items.image %>">
					<div class="caption-full">
						

						
						
						
						
						
					</div>
				</div>
				
			</div>
			<div class="info col-md-5">
				<h1 class="lead"><%= items.name %></h1>
				<div class="rating">
					<img src='/img/Star.png'>
					<img src='/img/Star.png'>
					<img src='/img/Star.png'>
					<img src='/img/Star.png'>
					<img src='/img/Star.png'>
				</div>
				<h2 class=""><%= items.category %></h2>
				<p><%= items.description %></p>
				<div class="colors" style="background-color:<%= items.color %>;"></div>
				<div class="size">
					<p>Select Size</p>
					<div class="boxes">
						<div class="sizes">7</div>
						<div class="sizes">8</div>
						<div class="sizes">10</div>
						<div class="sizes">11</div>
						<div class="sizes">14</div>
					</div>
				</div>
				<h1 class="price">$<%= items.price %></h1>
			</div>
		</div>
	</div>
	
		
		
			<div class="">
			
				
				
			</div>
			<a href="/items">Back</a>

		
		
	

